extends layout/default

block scripts

append styles
  :stylus
    .square
      display inline-block
      width 100px
      height 100px
      color #FFF
      font-size 12px
      line-height 100px
      text-align center

append content
  .square.background-color-131517 131517
  .square.background-color-181d22 181d22
  .square.background-color-1e2124 1e2124
  .square.background-color-1d232a 1d232a
  .square.background-color-252c34 252c34
  .square.background-color-214e71 214e71
  .square.background-color-2f3438 2f3438
  .square.background-color-223b45 223b45
  .square.background-color-373e45 373e45
  .square.background-color-535a60 535a60
  .square.background-color-4189c1 4189c1
  .square.background-color-6b7785 6b7785
  .square.background-color-727a83 727a83
  .square.background-color-808c9a 808c9a
  .square.background-color-959ea7 959ea7
  .square.background-color-aab5c1 aab5c1
  .square.background-color-57a3de 57a3de
  .square.background-color-bfc6ce bfc6ce
  .square.background-color-cad1d9 cad1d9
  .square.background-color-e5e9ee e5e9ee
  .square.background-color-f1f3f6 f1f3f6
  .square.background-color-6cda9f 6cda9f
  .square.background-color-ffffff ffffff

