.color-131517
  color #131517

.color-181d22
  color #181d22

.color-1e2124
  color #1e2124

.color-1d232a
  color #1d232a

.color-252c34
  color #252c34

.color-214e71
  color #214e71

.color-2f3438
  color #2f3438

.color-223b45
  color #223b45

.color-373e45
  color #373e45

.color-535a60
  color #535a60

.color-4189c1
  color #4189c1

.color-6b7785
  color #6b7785

.color-727a83
  color #727a83

.color-808c9a
  color #808c9a

.color-959ea7
  color #959ea7

.color-aab5c1
  color #aab5c1

.color-57a3de
  color #57a3de

.color-bfc6ce
  color #bfc6ce

.color-cad1d9
  color #cad1d9

.color-e5e9ee
  color #e5e9ee

.color-f1f3f6
  color #f1f3f6

.color-ffffff
  color #ffffff

.color-6cda9f
  color #6cda9f

.background-color-131517
  background-color #131517

.background-color-181d22
  background-color #181d22

.background-color-1e2124
  background-color #1e2124

.background-color-1d232a
  background-color #1d232a

.background-color-252c34
  background-color #252c34

.background-color-214e71
  background-color #214e71

.background-color-2f3438
  background-color #2f3438

.background-color-223b45
  background-color #223b45

.background-color-373e45
  background-color #373e45

.background-color-535a60
  background-color #535a60

.background-color-4189c1
  background-color #4189c1

.background-color-6b7785
  background-color #6b7785

.background-color-727a83
  background-color #727a83

.background-color-808c9a
  background-color #808c9a

.background-color-959ea7
  background-color #959ea7

.background-color-aab5c1
  background-color #aab5c1

.background-color-57a3de
  background-color #57a3de

.background-color-bfc6ce
  background-color #bfc6ce

.background-color-cad1d9
  background-color #cad1d9

.background-color-e5e9ee
  background-color #e5e9ee

.background-color-f1f3f6
  background-color #f1f3f6

.background-color-ffffff
  background-color #ffffff

.background-color-6cda9f
  background-color #6cda9f
